<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a restaurant</title>
</head>
<body>
    <h1>Add a restaurant</h1>
    <form method="POST">
        <br>Name:</br>
        <input type="text" name="name">
        <br>Category:</br>
        <input type="text" name="category"><br>
        Location:<br>
        <input type="text" name="location"><br>
        Price: (1 is cheap, 4 is expensive)<br>
        <input type="text" name="price"><br><br>
      <input type="submit" value="Submit">
        <br><br>
    </form>
    <p><a href="/home">Home</a></p>
</body>
</html>