<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Mega Bite</title>
</head>
<body>
    <h1>Please enter your review</h1>
        <form method="POST">Insertion Number</br>
            <input type="number" name="id">
            <br>New Name</br>
            <input type="text" name="name">
            <br>New Location<br>
            <input type="text" name="location">
            <br>New Category</br>
            <input type="text" name="category">
            <br>Price</br>
            <input type="text" name="price"><br><br>
            <input type="submit" value="Submit" herf = '/update'><br><br>
        </form>
    <p><a href="/home">Home</a></p>
</body>
</html>